@font-face {
    font-family: 'manr';
    src: url('/Manrope-VariableFont_wght.woff2');
}

*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top right, rgb(255, 255, 255)50%, rgb(169, 182, 235)100%);
    height: 100vh;
}

nav{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 130px;

}

.logo img{
    width:220px;
    height:180px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 140px;
    gap: 50px;
}

.nav-menu a{
    font-family: 'manr', sans-serif;
    text-decoration: none;
    color: #252424;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}

.home:hover{
    color: rgb(61, 103, 255);
}

.courses:hover{
    color: rgb(61, 103, 255);
}

.tutorial:hover{
    color: rgb(61, 103, 255);
}

.doubt:hover{
    color: rgb(61, 103, 255);
}

.contact{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(61, 103, 255);
    color: #fff;
    transition: 0.3s;
}

.contact:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(61, 103, 255);
    text-align: center;
    line-height: 38px;
    background-color:transparent;
    font-family: 'manr', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgb(61, 103, 255);
    cursor: pointer;
    transition: 0.3s;
}

.login:hover{
    background-color: rgb(255, 0, 0);
    border:none;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.main-area{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area1{
    width: 50%;
    height: 500px;
    text-align: center;   
    padding-top: 180px;
}

.area1 h2{
    font-family: 'manr', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(61, 103, 255);
}

.area1 p{
    font-family: 'manr', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #252424;
    padding-top: 20px;
}


.area1 .join{
    font-family: 'manr', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(61, 103, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.area2{
    width: 50%;
    height: 500px;
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 0px;
    align-items: center;
    text-align: center;
}

.area2 img{
    width: 550px;
    height: 450px;
    align-items: center;
}

.area2 p{
    font-family: 'manr', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #252424;
    text-align: center;
}

.section-bar{
    width: 100%;
    height: 1350px;
    border-radius: 25px;
    background-color: rgb(142, 139, 237);
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;

}

.section-bar h3{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.section-bar p{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.explore{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: rgb(255, 21, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.explore:hover{
    background-color: rgb(251, 255, 0);
    border:none;
    color: #161616;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.course-cards{
    width: 100%;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.course-cards1{
    width: 100%;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(255, 213, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.box1 img{
    width: 500px;
    height: 320px;
    border-radius: 15px;
}

.box2{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box2 .extra{
    color: #393a3b; 
    font-size: 22px; 
    font-weight: 500;
    line-height: 40px;
}

.box2 .extra1{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.h-box2{
    color: #1d1c1c; 
    font-size: 30px;
     font-weight: 700;
     padding-bottom: 10px;
}

.button-box2{
    background-color: #000000;
    font-family: 'manr', sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: 0.3s;
}

.button-box2:hover{
    background-color: rgb(251, 255, 0);
    border:none;
    color: #161616;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.course-cards1{
    width: 100%;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(238, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.box11{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.box11 img{
    width: 500px;
    height: 320px;
    border-radius: 15px;
}

.box22{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box22 .extraa{
    color: #393a3b; 
    font-size: 22px; 
    font-weight: 500;
    line-height: 40px;
}

.box22 .extra11{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.h-box22{
    color: #1d1c1c; 
    font-size: 30px;
     font-weight: 700;
     padding-bottom: 10px;
}

.button-box22{
    background-color: #000000;
    font-family: 'manr', sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: 0.3s;
}

.button-box22:hover{
    background-color: rgb(255, 0, 0);
    border:none;
    color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.slider {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.sslider-track{
    background-color: #e7c26b;
    width:max-content;
    height: 420px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
}

.sslider-track p{
    padding-left: 550px;
    color: #f3f3f3;
}
.slide-track{
    display: flex;
    width: max-content;
    height: 350px;
    background-color: #ffffff;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.slide-track img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 08px;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}













@media screen and (min-width: 400px) and (max-width: 768px) {
    nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

    .logo{
    display: flex;
    align-items: center;
    padding-left: 0.1px;

}

.logo img{
    width:120px;
    height:90px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 15px;
    gap: 10px;
}

.nav-menu a{
    font-family: 'manr', sans-serif;
    text-decoration: none;
    color: #252424;
    font-size: 11px;
    font-weight: 500;
    transition: 0.3s;
}

.contact{
    width: 50px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
    line-height: 19px;
    font-size: 8px;
    font-weight: 500;
    background-color: rgb(61, 103, 255);
    color: #fff;
    transition: 0.3s;
}

.login{
    width: 40px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgb(61, 103, 255);
    text-align: center;
    line-height: 19px;
    background-color:transparent;
    font-family: 'manr', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: rgb(61, 103, 255);
    cursor: pointer;
    transition: 0.3s;
}

.home{
    display: none;
}

.main-area{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.area1{
    width: 100%;
    height: 40px;
    text-align: center;  
    padding-top: 10px;
}

.area1 h2{
    font-family: 'manr', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgb(61, 103, 255);
}

.area1 p{
    font-family: 'manr', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #252424;
    padding-top: 05px;
}

.area1 .join{
    font-family: 'manr', sans-serif;
    font-size: 11px;
    font-weight: 700;
    background-color: rgb(61, 103, 255);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.area2{
    width: 100%;
    height: 250px;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 0px;
    align-items: center;
    text-align: center;
}

.area2 img{
    width: 350px;
    height: 260px;
    align-items: center;
}

.area2 p{
    font-family: 'manr', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #252424;
    text-align: center;
}

.section-bar{
    width: 100%;
    height: 900px;
    border-radius: 25px;
    background-color: rgb(142, 139, 237);
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 23px;

}

.section-bar h3{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.section-bar p{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.explore{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: rgb(255, 21, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.explore:hover{
    background-color: rgb(251, 255, 0);
    border:none;
    color: #161616;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.course-cards{
    width:100%;
    height: 280px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1{
    padding-top: 20px;
    justify-content: center;
    align-items: flex-start;
}

.box1 img{
    width: 250px;
    height: 160px;
    border-radius: 10px;
}

.box2{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box2 .extra{
    padding: 02%;
    color: #393a3b; 
    font-size: 12px; 
    font-weight: 300;
    line-height: 11px;
}

.box2 .extra1{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.h-box2{
    color: #1d1c1c; 
    font-size: 20px;
     font-weight: 700;
     padding-bottom: 3px;
}

.button-box2{
    background-color: #000000;
    font-family: 'manr', sans-serif; 
    font-weight: 700; 
    font-size: 12px; 
    color: #fff; 
    border: none; 
    border-radius: 07px; 
    padding: 7px 15px; 
    cursor: pointer; 
    transition: 0.3s;
}

.button-box2:hover{
    background-color: rgb(251, 255, 0);
    border:none;
    color: #161616;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.course-cards1{
    width:100%;
    height: 280px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(242, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box11{
    padding-top: 20px;
    justify-content: center;
    align-items: flex-start;
}

.box11 img{
    width: 250px;
    height: 160px;
    border-radius: 10px;
}

.box22{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box22 .extraa{
    padding: 02%;
    color: #393a3b; 
    font-size: 12px; 
    font-weight: 300;
    line-height: 11px;
}

.box22 .extra11{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.h-box22{
    color: #1d1c1c; 
    font-size: 20px;
     font-weight: 700;
     padding-bottom: 3px;
}

.button-box22{
    background-color: #000000;
    font-family: 'manr', sans-serif; 
    font-weight: 700; 
    font-size: 12px; 
    color: #fff; 
    border: none; 
    border-radius: 07px; 
    padding: 7px 15px; 
    cursor: pointer; 
    transition: 0.3s;
}


}

@media screen and (min-width: 768px) and (max-width: 1220px) {
    nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 30px;

}

.logo img{
    width:220px;
    height:180px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 30px;
    gap: 20px;
}

.nav-menu a{
    font-family: 'manr', sans-serif;
    text-decoration: none;
    color: #252424;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}


.contact{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(61, 103, 255);
    color: #fff;
    transition: 0.3s;
}

.login{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(61, 103, 255);
    text-align: center;
    line-height: 38px;
    background-color:transparent;
    font-family: 'manr', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgb(61, 103, 255);
    cursor: pointer;
    transition: 0.3s;
}

.home{
    display: none;
}

.main-area{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area1{
    width: 50%;
    height: 400px;
    text-align: center;   
    padding-top: 100px;
}

.area1 h2{
    font-family: 'manr', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: rgb(61, 103, 255);
}

.area1 p{
    font-family: 'manr', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #252424;
    padding-top: 15px;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.area1 .join{
    font-family: 'manr', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(61, 103, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    cursor: pointer;
    transition: 0.3s;
}

.area2{
    width: 50%;
    height: 400px;
    padding-top: 18px;
    padding-left: 0px;
    margin-left: 0px;
    align-items: center;
    text-align: center;
}

.area2 img{
    width: 480px;
    height: 395px;
    align-items: center;
}

.area2 p{
    font-family: 'manr', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #252424;
    text-align: center;
}

.section-bar{
    width: 100%;
    height: 1350px;
    border-radius: 25px;
    background-color: rgb(142, 139, 237);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;

}

.section-bar h3{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.section-bar p{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.explore{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: rgb(255, 21, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}


.course-cards{
    width: 100%;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.box1 img{
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.box2{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box2 .extra{
    color: #393a3b; 
    font-size: 18px; 
    font-weight: 500;
    line-height: 30px;
}

.box2 .extra1{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.h-box2{
    color: #1d1c1c; 
    font-size: 30px;
     font-weight: 700;
     padding-bottom: 10px;
}

.button-box2{
    background-color: #000000;
    font-family: 'manr', sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: 0.3s;
}

.course-cards1{
    width: 100%;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(251, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box11{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.box11 img{
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.box22{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box22 .extraa{
    color: #393a3b; 
    font-size: 18px; 
    font-weight: 500;
    line-height: 30px;
}

.box22 .extra11{
    font-family: 'manr', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.h-box22{
    color: #1d1c1c; 
    font-size: 30px;
     font-weight: 700;
     padding-bottom: 10px;
}

.button-box22{
    background-color: #000000;
    font-family: 'manr', sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: 0.3s;
}



}


